name: Home Media Server Deployment

on:
  workflow_dispatch:

concurrency:
  group: main-deploy
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Recreate cluster
        run: INFRASTRUCTURE_APPLY_ARGS="-auto-approve" task recreate
